<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caihao.hospitalmanager.mapper.BedGradeMapper" >
  <resultMap id="BaseResultMap" type="com.caihao.hospitalmanager.entity.BedGrade" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
  </resultMap>

  <!--查询病床等级下拉框信息集合-->
  <select id="selectDropDownDtoList" resultType="com.caihao.hospitalmanager.entity.dto.DropDownDto">
    SELECT
      id AS "value",
      `name` AS "label"
    FROM bed_grade
  </select>

  <!--获取还有空余病床的等级下拉框信息-->
  <select id="selectFreeBedGradeList" resultType="com.caihao.hospitalmanager.entity.dto.DropDownDto">
    SELECT
      bg.id AS "value",
      bg.`name` AS "label"
    FROM bed_grade AS bg
    LEFT JOIN bed AS b ON bg.id = b.grade
    WHERE b.state = 0 AND b.is_del = 0
    GROUP BY bg.id
  </select>
</mapper>