<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caihao.hospitalmanager.mapper.BedMapper" >
  <resultMap id="BaseResultMap" type="com.caihao.hospitalmanager.entity.Bed" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
  </resultMap>

  <!--查询病床信息-->
  <select id="selectBedList" resultType="com.caihao.hospitalmanager.entity.dto.BedDto">
    SELECT
      b.id,
      b.patient_id,
      b.grade,
      b.state,
      p.`name` AS patientName,
      bg.`name` AS bedGradeName,
      bg.cost
    FROM bed AS b
    LEFT JOIN patient AS p ON b.patient_id = p.id
    LEFT JOIN bed_grade AS bg ON b.grade = bg.id
  </select>

  <!--根据id查询病床信息-->
  <select id="selectBedDtoById" resultType="com.caihao.hospitalmanager.entity.dto.BedDto">
    SELECT
      b.id,
      b.state,
      bg.`name` AS bedGradeName,
      bg.cost
    FROM bed AS b
    LEFT JOIN bed_grade AS bg ON b.grade = bg.id
    WHERE b.id = #{id}
  </select>

  <!--查询已使用的病床数-->
  <select id="selectUsedBedCount" resultType="int">
    SELECT COUNT(id) FROM bed WHERE state = 1 AND is_del = 0
  </select>

  <!--查询总病床数-->
  <select id="selectBedCount" resultType="int">
    SELECT COUNT(id) FROM bed WHERE is_del = 0
  </select>

  <!--根据病床等级查询出一张病床-->
  <select id="selectFreeBedByGrade" resultType="int">
    SELECT
      id
    FROM bed
    WHERE state = 0 AND is_del = 0 AND grade = #{bedGradeId}
    LIMIT 1
  </select>

</mapper>